{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block contenu %}
    
<div class="px-5">
    <div class="card ">
        <h5 class="card-header">Ajouter une nouvelle formation</h5>
        <div class="card-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      
                        {{ include('formation/_form.html.twig') }}

                        <br>

                        <a href="{{ path('formation_index') }}" >Retour à la liste</a>
                      

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br> 

{% endblock %}
