
{% extends 'base.html.twig' %}

{% block title %}
  ressource {{ idRessource }}
{% endblock %}

{% block header %}
  <h1> Bienvenue sur la Ressource N°{{ idRessource }} ! </h1>
{% endblock %}

{% block contenu %}
  <p> Cette page affichera le descriptif de la ressource pédagogique N°{{ idRessource }} </p>
{% endblock %}


