{% extends 'base.html.twig' %}

{% block stylesheets %}  {% endblock %}
{% block title %}

{% endblock %}

{% block header %}
    <body>
        <h1> Bienvenue sur la vue : afficher_stage</h1> 
    </body>
{% endblock %} 

{% block contenu %}
    <body>
        <h1> Cette page affichera les détails d'une proposition de stage</h1> 
    </body>
{% endblock %}