{% extends 'base.html.twig' %}

{% block title %} {entreprise.nom} {% endblock %}




{% block contenu %}

 <div class = "px-5">
  <div class="card ">
      <h5 class="card-header">textque quel texte ?</h5>
      <div class="card-body">

          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <!---->
                    tegdt

                    

                  </div>

              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}





