{% extends 'base.html.twig' %}

{% block title %}
    entreprises
{% endblock %}

{% block contenu %}

<div class = "px-5 justify-content-center d-flex">
  <div class="card w-75">
      <h5 class="card-header">Offres de stages</h5>
      <div class="card-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <!--liste des stages-->
                      <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Chercher par entreprise</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for entreprise in entreprises %}

    {% set nbStages = 0 %}

    {% for stage in entreprise %}

    {% set nbStages = loop.length %}

    {% endfor %}
      <tr>
      <td scope="row">
        {{entreprise.nom}}
      </td>
      <td class="text-right">
        <a href="{{path("tri_stage",{type:"entreprises",nom:entreprise.nom})}}" class="btn btn-primary mx-5">
                      Consulter les stages : 
          <span class="badge badge-light" > {{ entreprise.stages | length }} </span>
        </a>
        <a href="{{path("modifierUneEntreprise",{id:entreprise.id})}}" class="btn btn-light">Éditer l'entreprise</a>
      </td> 
         
    </tr>
    {% endfor %}
  </tbody>
</table>
                  </div>

              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
