{% extends 'base.html.twig' %}

{% block title %}formations{% endblock %}

{% block contenu %}

 <div class = "px-5">
  <div class="card ">
      <h5 class="card-header">Offres de stages</h5>
      <div class="card-body">

          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <!--liste des stages-->
                      <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Chercher par formation </th>
    </tr>
  </thead>
  <tbody>
    {% for formation in formations %}
    <tr>
      <th scope="row"><a href="{{path("tri_stage",{type:"formations",nom:formation.nomCourt})}}">{{formation.nomLong}}</a></th> 
    </tr>
    {%endfor%}
  </tbody>
</table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}





